/* Primary colors*/
$med-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
/*Secondary Colors*/
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

    .navbar{
        height: 400px;
        color: white;
        background: url('./images/image-hero-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        ul{
            display: flex;
            padding-top: 35px;
            padding-right: 44px;
            justify-content: flex-end;
        }

        li {
            flex-direction: row;
            padding: 10px;
            font-family: "Commissioner", sans-serif;
        }
    }

    .column{
        display: flex;
        flex-direction: column;
        margin: 0px 300px 0px 300px;
        font-family: "Commissioner", sans-serif;

        #intro{
            position: relative;
            bottom: 28px;
            background-color: white;
            border: 2px red solid;
            border-radius: 8px;
            text-align: center;
            font-family: "Commissioner", sans-serif;
            height: 270px;
    
            h1{
                padding-top: 50px;
                font-weight: 700;
                font-size: 28px;
            }
    
            .detail{
                color: $dark-gray;
                padding: 22px;
                font-size: 17px;
            }

            button{
                font-family: "Commissioner", sans-serif;
                font-weight: 500;
                font-size: 19px;
                margin-top: 40px;
                padding: 12px 35px;
                border: none;
                border-radius: 28px;
            }

            .back{
                background-color: $dark-cyan;
                color: white;
            }

            .book{
                color: $dark-cyan;
            }
        }

        #goal{
            border: blue solid 2px;
        }
    }   
}