/* Primary colors*/
/*Secondary Colors*/
@media (max-width: 1440px) {
  body {
    padding: 0px;
    margin: 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: whitesmoke;
  }
  body .navbar {
    height: 400px;
    color: white;
    background: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  body .navbar .logo {
    position: relative;
    top: 45px;
    left: 55px;
  }
  body .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-right: 35px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  body .navbar li {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 10px;
    font-family: "Commissioner", sans-serif;
  }
  body .column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px 260px 0px 360px;
  }
  body .column .logo-mastercraft {
    position: relative;
    bottom: 30px;
  }
  body .column #intro {
    position: relative;
    bottom: 88px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    font-family: "Commissioner", sans-serif;
    height: 275px;
  }
  body .column #intro h1 {
    padding-top: 5px;
    font-weight: 700;
    font-size: 30px;
  }
  body .column #intro .detail {
    color: #7a7a7a;
    padding-top: 20px;
    font-size: 17.5px;
  }
  body .column #intro button {
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 19px;
    margin-top: 47px;
    padding: 17px 37px;
    border: none;
    border-radius: 28px;
  }
  body .column #intro .back {
    background-color: #147b74;
    color: white;
    position: relative;
    right: 150px;
  }
  body .column #intro .book {
    color: #147b74;
    position: relative;
    left: 85px;
    padding-left: 49px;
  }
  body .column #intro .bookmark {
    position: relative;
    top: 19px;
    left: 349px;
    z-index: 1;
    color: #147b74;
  }
  body .column #goal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    bottom: 68px;
    height: 190px;
    border-radius: 5px;
    background-color: white;
    font-family: "Commissioner", sans-serif;
  }
  body .column #goal .money {
    padding: 15px 80px 0px 40px;
    font-size: 30px;
  }
  body .column #goal .money:nth-child(1) {
    border-right: gray solid 0.5px;
    margin: 18px 0px 90px 0px;
  }
  body .column #goal .money:nth-child(2) {
    border-right: gray solid 0.5px;
    margin: 18px 0px 90px 0px;
  }
  body .column #goal .money:nth-child(3) {
    padding-top: 32px;
  }
  body .column #goal .info {
    color: #7a7a7a;
    font-size: 18px;
  }
  body .column #goal b {
    font-weight: bold;
  }
  body .column .amount {
    position: relative;
    bottom: 115px;
    left: 30px;
    border-radius: 10px;
    height: 10px;
    width: 90%;
    background-color: whitesmoke;
  }
  body .column #status-bar {
    background-color: #147b74;
    width: 80%;
    height: 10px;
    border-radius: 10px;
  }
  body .column #about-section {
    height: 1050px;
    border-radius: 5px;
    position: relative;
    bottom: 55px;
    padding: 45px;
    font-family: "Commissioner", sans-serif;
    background-color: white;
  }
  body .column #about-section .about {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 20px;
  }
  body .column #about-section p {
    color: #7a7a7a;
    line-height: 32px;
  }
  body .column #about-section p:nth-child(3) {
    padding: 15px 0px 35px 0px;
  }
  body .column #about-section .Pledge {
    border: 1px solid lightgray;
    border-radius: 8px;
    padding: 20px;
    height: 190px;
    margin-bottom: 30px;
  }
  body .column #about-section .Pledge h3 {
    position: relative;
    top: 5px;
    font-size: 19px;
    font-weight: bold;
  }
  body .column #about-section .Pledge .extra {
    color: #7a7a7a;
  }
  body .column #about-section .Pledge span {
    position: relative;
    left: 420px;
    bottom: 12px;
    color: #3cb4ac;
  }
  body .column #about-section .Pledge b {
    font-weight: bold;
    color: black;
    font-size: 1.7em;
    position: relative;
    top: 2px;
  }
  body .column #about-section .Pledge .reward {
    padding: 13px 22px 13px 22px;
    border: none;
    border-radius: 28px;
    background-color: #147b74;
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: relative;
    left: 420px;
    bottom: 40px;
  }
  body .modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .modal-container .modal-content {
    background-color: white;
    margin: 20% auto;
    padding: 25px;
    width: 50%;
    height: 90%;
    font-family: "Commissioner", sans-serif;
    line-height: 30px;
  }
  body .modal-container .modal-content h1 {
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 22px;
  }
}
/*# sourceMappingURL=styles.css.map */