/* Primary colors*/
/*Secondary Colors*/
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: whitesmoke;
}
body .navbar {
  height: 400px;
  color: white;
  background: url("./images/image-hero-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
body .navbar .logo {
  position: relative;
  top: 35px;
  left: 55px;
}
body .navbar ul {
  display: flex;
  padding-top: 20px;
  padding-right: 45px;
  justify-content: flex-end;
}
body .navbar li {
  flex-direction: row;
  padding: 0px 4px 0px 30px;
  font-family: "Commissioner", sans-serif;
}
body .navbar a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
body .column {
  display: flex;
  flex-direction: column;
  margin: 0px 270px 0px 360px;
}
body .column .logo-mastercraft {
  position: relative;
  bottom: 30px;
}
body .column #intro {
  position: relative;
  bottom: 88px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  font-family: "Commissioner", sans-serif;
  height: 275px;
}
body .column #intro h1 {
  padding-top: 5px;
  font-weight: 700;
  font-size: 30px;
}
body .column #intro .detail {
  color: hsl(0deg, 0%, 48%);
  padding-top: 20px;
  font-size: 17.5px;
}
body .column #intro button {
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 19px;
  margin-top: 47px;
  padding: 17px 37px;
  border: none;
  border-radius: 28px;
}
body .column #intro #back {
  background-color: hsl(176deg, 72%, 28%);
  color: white;
  position: relative;
  right: 150px;
}
body .column #intro #back:hover {
  background-color: hsl(176deg, 50%, 47%);
  cursor: pointer;
  transition: 0.2s;
}
body .column #intro #book {
  color: hsl(176deg, 72%, 28%);
  position: relative;
  left: 85px;
  padding-left: 49px;
}
body .column #intro .bookmark {
  position: relative;
  top: 19px;
  left: 349px;
  z-index: 1;
}
body .column #goal {
  display: flex;
  flex-direction: row;
  position: relative;
  bottom: 68px;
  height: 190px;
  border-radius: 5px;
  background-color: white;
  font-family: "Commissioner", sans-serif;
}
body .column #goal .money {
  padding: 15px 80px 0px 40px;
  font-size: 30px;
}
body .column #goal .money:nth-child(1) {
  border-right: gray solid 0.5px;
  margin: 18px 0px 90px 0px;
}
body .column #goal .money:nth-child(2) {
  border-right: gray solid 0.5px;
  margin: 18px 0px 90px 0px;
}
body .column #goal .money:nth-child(3) {
  padding-top: 32px;
}
body .column #goal .info {
  color: hsl(0deg, 0%, 48%);
  font-size: 18px;
}
body .column #goal b {
  font-weight: bold;
}
body .column .amount {
  position: relative;
  bottom: 115px;
  left: 30px;
  border-radius: 10px;
  height: 10px;
  width: 90%;
  background-color: lightgray;
}
body .column #status-bar {
  background-color: hsl(176deg, 72%, 28%);
  width: 80%;
  height: 10px;
  border-radius: 10px;
}
body .column #about-section {
  height: 1050px;
  border-radius: 5px;
  position: relative;
  bottom: 55px;
  padding: 45px;
  font-family: "Commissioner", sans-serif;
  background-color: white;
}
body .column #about-section .about {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  line-height: 20px;
}
body .column #about-section p {
  color: hsl(0deg, 0%, 48%);
  line-height: 32px;
}
body .column #about-section p:nth-child(3) {
  padding: 15px 0px 35px 0px;
}
body .column #about-section .Pledge {
  border: 1px solid hsl(0deg, 0%, 83%);
  border-radius: 8px;
  padding: 20px;
  height: 190px;
  margin-bottom: 30px;
}
body .column #about-section .Pledge h3 {
  position: relative;
  top: 5px;
  font-size: 19px;
  font-weight: bold;
}
body .column #about-section .Pledge .extra {
  color: hsl(0deg, 0%, 48%);
}
body .column #about-section .Pledge span {
  position: relative;
  left: 420px;
  bottom: 12px;
  color: hsl(176deg, 50%, 47%);
}
body .column #about-section .Pledge b {
  font-weight: bold;
  color: black;
  font-size: 1.7em;
  position: relative;
  top: 2px;
}
body .column #about-section .Pledge #reward1 {
  padding: 13px 22px 13px 22px;
  border: none;
  border-radius: 28px;
  background-color: hsl(176deg, 72%, 28%);
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  position: relative;
  left: 420px;
  bottom: 40px;
}
body .column #about-section .Pledge #reward2 {
  padding: 13px 22px 13px 22px;
  border: none;
  border-radius: 28px;
  background-color: hsl(176deg, 72%, 28%);
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  position: relative;
  left: 420px;
  bottom: 40px;
}
body .column #about-section .Pledge #reward3 {
  padding: 13px 22px 13px 22px;
  border: none;
  border-radius: 28px;
  background-color: hsl(176deg, 72%, 28%);
  font-family: "Commissioner", sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: white;
  position: relative;
  left: 420px;
  bottom: 40px;
}
body .column #about-section .Pledge #reward1:hover {
  background-color: hsl(176deg, 50%, 47%);
  transition-duration: 0.4s;
  cursor: pointer;
}
body .column #about-section .Pledge #reward2:hover {
  background-color: hsl(176deg, 50%, 47%);
  transition-duration: 0.4s;
  cursor: pointer;
}
body .column #about-section .Pledge #reward3:hover {
  background-color: hsl(176deg, 50%, 47%);
  transition-duration: 0.4s;
  cursor: pointer;
}
body .modal-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  height: 108%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
body .modal-container .modal-content {
  background-color: white;
  margin: 17% auto;
  padding: 30px;
  width: 50%;
  height: 180%;
  font-family: "Commissioner", sans-serif;
  line-height: 30px;
  border-radius: 20px;
}
body .modal-container .modal-content .close {
  position: relative;
  font-size: 27px;
  font-weight: bold;
  bottom: 50px;
  left: 665px;
  cursor: pointer;
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content .close:hover {
  color: black;
  transition-duration: 0.4s;
}
body .modal-container .modal-content h1 {
  font-weight: bold;
  padding: 10px 0px 0px 35px;
  font-size: 22px;
}
body .modal-container .modal-content .tell {
  color: hsl(0deg, 0%, 48%);
  padding: 0px 0px 15px 35px;
}
body .modal-container .modal-content #pledge1 {
  border: 2px solid hsl(0deg, 0%, 83%);
  margin: 32px;
  padding: 0px 20px 15px 65px;
  border-radius: 12px;
}
body .modal-container .modal-content #pledge1 b {
  font-weight: bold;
  color: black;
  font-size: 19px;
  padding-right: 6px;
}
body .modal-container .modal-content #pledge1 h2 {
  font-weight: 600;
}
body .modal-container .modal-content #pledge1 h2:hover {
  color: hsl(176deg, 50%, 47%);
  transition: ease-in 0.1s;
}
body .modal-container .modal-content #pledge1 #radio1 {
  position: relative;
  top: 33px;
  right: 40px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
body .modal-container .modal-content #pledge1 .part1 {
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content #pledge2 {
  border: 2px solid hsl(0deg, 0%, 83%);
  margin: 32px;
  padding: 0px 20px 15px 65px;
  border-radius: 12px;
}
body .modal-container .modal-content #pledge2 b {
  font-weight: bold;
  color: black;
  font-size: 19px;
  padding-right: 6px;
}
body .modal-container .modal-content #pledge2 h2 {
  font-weight: 600;
}
body .modal-container .modal-content #pledge2 h2:hover {
  color: hsl(176deg, 50%, 47%);
  transition: ease-in 0.1s;
}
body .modal-container .modal-content #pledge2 .mini-2 {
  position: relative;
  left: 130px;
  bottom: 30px;
  color: hsl(176deg, 50%, 47%);
}
body .modal-container .modal-content #pledge2 .left-2 {
  position: relative;
  bottom: 155px;
  left: 452px;
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content #pledge2 #radio2 {
  position: relative;
  top: 33px;
  right: 40px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
body .modal-container .modal-content #pledge2 .part2 {
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content #pledge2 #donation-amount2 {
  border-top: hsl(0deg, 0%, 48%) solid 1px;
  position: relative;
  right: 65px;
  bottom: 15px;
  height: 65px;
  width: 114.9%;
}
body .modal-container .modal-content #pledge2 #donation-amount2 h3 {
  color: hsl(0deg, 0%, 48%);
  padding: 30px 0px 0px 15px;
  text-align: left;
}
body .modal-container .modal-content #pledge2 #donation-amount2 #donation2 {
  height: 25px;
  width: 12%;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  border-radius: 28px;
  border: solid 1px hsl(0deg, 0%, 48%);
  padding: 11px;
  font-size: 16px;
  text-align: center;
  margin: 25px 0px 0px 225px;
  position: relative;
  bottom: 88%;
  left: 25%;
}
body .modal-container .modal-content #pledge2 #donation-amount2 #next2 {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 28px;
  background-color: hsl(176deg, 72%, 28%);
  color: white;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom: 88%;
  left: 29%;
}
body .modal-container .modal-content #pledge2 #donation-amount2 #next2:hover {
  background-color: hsl(176deg, 50%, 47%);
}
body .modal-container .modal-content #pledge3 {
  border: 2px solid hsl(0deg, 0%, 83%);
  margin: 32px;
  padding: 0px 20px 15px 65px;
  border-radius: 12px;
}
body .modal-container .modal-content #pledge3 b {
  font-weight: bold;
  color: black;
  font-size: 19px;
  padding-right: 6px;
}
body .modal-container .modal-content #pledge3 h2 {
  font-weight: 600;
}
body .modal-container .modal-content #pledge3 h2:hover {
  color: hsl(176deg, 50%, 47%);
  transition: ease-in 0.1s;
}
body .modal-container .modal-content #pledge3 .mini-3 {
  position: relative;
  left: 170px;
  bottom: 30px;
  color: hsl(176deg, 50%, 47%);
}
body .modal-container .modal-content #pledge3 .left-3 {
  position: relative;
  bottom: 120px;
  left: 452px;
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content #pledge3 #radio3 {
  position: relative;
  top: 33px;
  right: 40px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
body .modal-container .modal-content #pledge3 .part3 {
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content #pledge3 #donation-amount3 {
  border-top: hsl(0deg, 0%, 48%) solid 1px;
  position: relative;
  right: 65px;
  bottom: 15px;
  height: 65px;
  width: 114.9%;
  display: none;
}
body .modal-container .modal-content #pledge3 #donation-amount3 h3 {
  color: hsl(0deg, 0%, 48%);
  padding: 30px 0px 0px 15px;
}
body .modal-container .modal-content #pledge3 #donation-amount3 #donation3 {
  height: 25px;
  width: 12%;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  border-radius: 28px;
  border: solid 1px hsl(0deg, 0%, 48%);
  padding: 11px;
  font-size: 16px;
  text-align: center;
  position: relative;
  bottom: 60%;
  left: 62%;
}
body .modal-container .modal-content #pledge3 #donation-amount3 #next3 {
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 28px;
  background-color: hsl(176deg, 72%, 28%);
  color: white;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  bottom: 40px;
  left: 65%;
}
body .modal-container .modal-content #pledge3 #donation-amount3 #next:hover {
  background-color: hsl(176deg, 50%, 47%);
}
body .modal-container .modal-content .pledge4 {
  border: 2px solid hsl(0deg, 0%, 83%);
  margin: 32px;
  padding: 0px 20px 15px 65px;
  border-radius: 12px;
}
body .modal-container .modal-content .pledge4 b {
  font-weight: bold;
  color: black;
  font-size: 19px;
  padding-right: 6px;
}
body .modal-container .modal-content .pledge4 h2 {
  font-weight: 600;
}
body .modal-container .modal-content .pledge4 h2:hover {
  color: hsl(176deg, 50%, 47%);
  transition: ease-in 0.1s;
}
body .modal-container .modal-content .pledge4 .mini-4 {
  position: relative;
  left: 210px;
  bottom: 30px;
  color: hsl(176deg, 50%, 47%);
}
body .modal-container .modal-content .pledge4 .left-4 {
  position: relative;
  bottom: 149px;
  left: 452px;
  color: hsl(0deg, 0%, 48%);
}
body .modal-container .modal-content .pledge4 #radio4 {
  position: relative;
  top: 33px;
  right: 40px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
body .modal-container .modal-content .pledge4 .part4 {
  color: hsl(0deg, 0%, 48%);
}
body #thankyou-container {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0px;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Commissioner", sans-serif;
  padding: 50px;
  display: none;
}
body #thankyou-container .thankyou-content {
  background-color: white;
  margin: 20% auto;
  padding: 20px;
  width: 35%;
  height: 65%;
  font-family: "Commissioner", sans-serif;
  line-height: 30px;
  border-radius: 10px;
  text-align: center;
}
body #thankyou-container .thankyou-content .check {
  margin-top: 20px;
  height: 25%;
  width: 20%;
}
body #thankyou-container .thankyou-content h2 {
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px;
}
body #thankyou-container .thankyou-content p {
  color: hsl(0deg, 0%, 48%);
}
body #thankyou-container .thankyou-content button {
  height: 50px;
  width: 110px;
  font-size: 15px;
  border-radius: 28px;
  margin-top: 25px;
  border: none;
  background-color: hsl(176deg, 72%, 28%);
  color: white;
  font-weight: bold;
  font-family: "Commissioner", sans-serif;
}
body #thankyou-container .thankyou-content #ty-btn:hover {
  background-color: hsl(176deg, 50%, 47%);
  transition-duration: 0.2s;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
    background-color: whitesmoke;
  }
  body .navbar {
    height: 300px;
    color: white;
    background: url("./images/image-hero-desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  body .navbar .logo {
    position: relative;
    top: 25px;
    left: 20px;
  }
  body .navbar ul {
    display: flex;
    display: none;
    padding-top: 20px;
    padding-right: 45px;
    justify-content: flex-end;
  }
  body .navbar li {
    flex-direction: row;
    padding: 0px 4px 0px 30px;
    font-family: "Commissioner", sans-serif;
  }
  body .navbar a {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  body .column {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: 55px;
  }
  body .column .logo-mastercraft {
    position: relative;
    bottom: 30px;
  }
  body .column #intro {
    position: relative;
    right: 332px;
    bottom: 50px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    font-family: "Commissioner", sans-serif;
    height: 275px;
    width: 115%;
  }
  body .column #intro h1 {
    font-weight: 700;
    font-size: 24px;
  }
  body .column #intro .detail {
    color: hsl(0deg, 0%, 48%);
    padding-top: 29px;
    font-size: 16px;
  }
  body .column #intro button {
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 19px;
    padding: 17px 37px;
    border: none;
    border-radius: 28px;
    position: relative;
    bottom: 25px;
    left: -69px;
  }
  body .column #intro #back {
    background-color: hsl(176deg, 72%, 28%);
    color: white;
    position: relative;
  }
  body .column #intro #back:hover {
    background-color: hsl(176deg, 50%, 47%);
    cursor: pointer;
    transition: 0.2s;
  }
  body .column #intro #book {
    display: none;
    color: hsl(176deg, 72%, 28%);
    position: relative;
    left: 85px;
    padding-left: 49px;
  }
  body .column #intro .bookmark {
    position: relative;
    left: 229px;
    top: -5px;
    z-index: 1;
  }
  body .column #goal {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 15px;
    right: 330px;
    height: 490px;
    width: 115%;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-family: "Commissioner", sans-serif;
  }
  body .column #goal .money {
    padding: 20px 10px 25px 10px;
    font-size: 30px;
  }
  body .column #goal .money:nth-child(1) {
    border-bottom: gray solid 0.5px;
    border-right: none;
    margin: 15px 90px 0px 90px;
  }
  body .column #goal .money:nth-child(2) {
    border-bottom: gray solid 0.5px;
    border-right: none;
    margin: 0px 90px 5px 90px;
  }
  body .column #goal .info {
    color: hsl(0deg, 0%, 48%);
    font-size: 16px;
  }
  body .column #goal b {
    font-weight: bold;
  }
  body .column .amount {
    position: absolute;
    top: 1000px;
    right: 20px;
    left: 40px;
    border-radius: 10px;
    height: 16px;
    width: 80%;
    background-color: lightgray;
  }
  body .column #status-bar {
    background-color: hsl(176deg, 72%, 28%);
    width: 75%;
    height: 16px;
    border-radius: 10px;
  }
  body .column #about-section {
    height: 1750px;
    width: 83%;
    border-radius: 5px;
    position: relative;
    top: 50px;
    right: 340px;
    bottom: 55px;
    text-align: left;
    padding: 55px;
    font-family: "Commissioner", sans-serif;
    background-color: white;
  }
  body .column #about-section .about {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 20px;
  }
  body .column #about-section p {
    color: hsl(0deg, 0%, 48%);
    line-height: 32px;
  }
  body .column #about-section p:nth-child(3) {
    padding: 15px 0px 35px 0px;
  }
  body .column #about-section .Pledge {
    border: 1px solid hsl(0deg, 0%, 83%);
    border-radius: 8px;
    padding: 15px;
    height: 320px;
    width: 220px;
    margin-bottom: 30px;
  }
  body .column #about-section .Pledge h3 {
    position: relative;
    top: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  body .column #about-section .Pledge .extra {
    color: hsl(0deg, 0%, 48%);
    padding-top: 25px;
  }
  body .column #about-section .Pledge span {
    position: relative;
    left: 0px;
    bottom: -19px;
    color: hsl(176deg, 50%, 47%);
  }
  body .column #about-section .Pledge b {
    font-weight: bold;
    color: black;
    font-size: 1.5em;
    position: relative;
    top: 0px;
  }
  body .column #about-section .Pledge #reward1 {
    padding: 13px 22px 13px 22px;
    border: none;
    border-radius: 28px;
    background-color: hsl(176deg, 72%, 28%);
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: relative;
    left: 85px;
    bottom: 40px;
  }
  body .column #about-section .Pledge #reward2 {
    padding: 13px 22px 13px 22px;
    border: none;
    border-radius: 28px;
    background-color: hsl(176deg, 72%, 28%);
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: relative;
    left: 75px;
    bottom: 40px;
  }
  body .column #about-section .Pledge #reward3 {
    padding: 13px 22px 13px 22px;
    border: none;
    border-radius: 28px;
    background-color: hsl(176deg, 72%, 28%);
    font-family: "Commissioner", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: white;
    position: relative;
    left: 75px;
    bottom: 40px;
  }
  body .column #about-section .Pledge #reward1:hover {
    background-color: hsl(176deg, 50%, 47%);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .column #about-section .Pledge #reward2:hover {
    background-color: hsl(176deg, 50%, 47%);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .column #about-section .Pledge #reward3:hover {
    background-color: hsl(176deg, 50%, 47%);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  body .modal-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    height: 100%;
    width: 70%;
    overflow: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.5);
  }
  body .modal-container .modal-content {
    display: block;
    background-color: white;
    margin-right: 150px;
    width: 53%;
    height: 130%;
    font-family: "Commissioner", sans-serif;
    line-height: 30px;
    border-radius: 10px;
    overflow: hidden;
    overflow-x: hidden;
  }
  body .modal-container .modal-content .close {
    position: relative;
    left: 270px;
    bottom: 60px;
    cursor: pointer;
    color: hsl(0deg, 0%, 48%);
  }
  body .modal-container .modal-content .close:hover {
    color: black;
    transition-duration: 0.4s;
  }
  body .modal-container .modal-content h1 {
    font-weight: bold;
    font-size: 19px;
    position: relative;
    top: 10px;
    right: 30px;
  }
  body .modal-container .modal-content .tell {
    color: hsl(0deg, 0%, 48%);
    padding: 0px 0px 40px 0px;
    font-size: 14px;
  }
  body .modal-container .modal-content #pledge1 {
    border: 2px solid hsl(0deg, 0%, 83%);
    margin: -5px 5px 20px 0px;
    width: 70%;
    padding: 0px 20px 15px 65px;
    border-radius: 12px;
  }
  body .modal-container .modal-content #pledge1 b {
    font-weight: bold;
    color: black;
    font-size: 16px;
    padding-bottom: 20px;
  }
  body .modal-container .modal-content #pledge1 h2 {
    font-weight: 600;
  }
  body .modal-container .modal-content #pledge1 h2:hover {
    color: hsl(176deg, 50%, 47%);
    transition: ease-in 0.1s;
  }
  body .modal-container .modal-content #pledge1 #radio1 {
    position: relative;
    top: 33px;
    right: 55px;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }
  body .modal-container .modal-content #pledge1 .part1 {
    color: hsl(0deg, 0%, 48%);
    width: 120%;
    margin: 10px 40px 0px -30px;
    font-size: 15px;
  }
  body .modal-container .modal-content #pledge2 {
    border: 2px solid hsl(0deg, 0%, 83%);
    margin: 30px 5px 10px 0px;
    width: 70%;
    padding: 0px 20px 15px 65px;
    border-radius: 12px;
  }
  body .modal-container .modal-content #pledge2 b {
    font-weight: bold;
    color: black;
    font-size: 23px;
    padding-right: 6px;
  }
  body .modal-container .modal-content #pledge2 h2 {
    font-weight: 600;
  }
  body .modal-container .modal-content #pledge2 h2:hover {
    color: hsl(176deg, 50%, 47%);
    transition: ease-in 0.1s;
  }
  body .modal-container .modal-content #pledge2 .mini-2 {
    position: relative;
    top: 0px;
    left: 0px;
    color: hsl(176deg, 50%, 47%);
  }
  body .modal-container .modal-content #pledge2 .left-2 {
    position: relative;
    top: 5px;
    left: -45px;
    margin-bottom: 30px;
    color: hsl(0deg, 0%, 48%);
  }
  body .modal-container .modal-content #pledge2 #radio2 {
    position: relative;
    top: 33px;
    right: 40px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  body .modal-container .modal-content #pledge2 .part2 {
    color: hsl(0deg, 0%, 48%);
    width: 120%;
    margin: 10px 40px 0px -40px;
    font-size: 15px;
  }
  body .modal-container .modal-content #pledge2 #donation-amount2 {
    border-top: hsl(0deg, 0%, 48%) solid 1px;
    position: relative;
    right: 40px;
    bottom: 15px;
    height: 75px;
    width: 114.9%;
  }
  body .modal-container .modal-content #pledge2 #donation-amount2 h3 {
    color: hsl(0deg, 0%, 48%);
    padding: 5px 0px 0px 15px;
    text-align: center;
  }
  body .modal-container .modal-content #pledge2 #donation-amount2 #donation2 {
    height: 25px;
    width: 24%;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
    border-radius: 28px;
    border: solid 1px hsl(0deg, 0%, 48%);
    padding: 11px;
    font-size: 16px;
    text-align: center;
    margin: 25px 0px 0px 225px;
    position: relative;
    top: -20px;
    left: -200px;
  }
  body .modal-container .modal-content #pledge2 #donation-amount2 #next2 {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 28px;
    background-color: hsl(176deg, 72%, 28%);
    color: white;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: -68px;
    left: 130px;
  }
  body .modal-container .modal-content #pledge2 #donation-amount2 #next2:hover {
    background-color: hsl(176deg, 50%, 47%);
  }
  body .modal-container .modal-content #pledge3 {
    border: 2px solid hsl(0deg, 0%, 83%);
    margin: 30px 5px 10px 0px;
    width: 70%;
    padding: 0px 20px 15px 65px;
    border-radius: 12px;
  }
  body .modal-container .modal-content #pledge3 b {
    font-weight: bold;
    color: black;
    font-size: 22px;
    padding-right: 6px;
  }
  body .modal-container .modal-content #pledge3 h2 {
    font-weight: 600;
  }
  body .modal-container .modal-content #pledge3 h2:hover {
    color: hsl(176deg, 50%, 47%);
    transition: ease-in 0.1s;
  }
  body .modal-container .modal-content #pledge3 .mini-3 {
    position: relative;
    top: 2px;
    left: 0px;
    color: hsl(176deg, 50%, 47%);
  }
  body .modal-container .modal-content #pledge3 .left-3 {
    position: relative;
    top: 5px;
    left: -45px;
    margin-bottom: 35px;
    color: hsl(0deg, 0%, 48%);
  }
  body .modal-container .modal-content #pledge3 #radio3 {
    position: relative;
    top: 33px;
    right: 40px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  body .modal-container .modal-content #pledge3 .part3 {
    color: hsl(0deg, 0%, 48%);
    width: 130%;
    margin: 10px 20px 0px -45px;
    font-size: 15px;
  }
  body .modal-container .modal-content #pledge3 #donation-amount3 {
    border-top: hsl(0deg, 0%, 48%) solid 1px;
    position: relative;
    right: 40px;
    bottom: 15px;
    height: 75px;
    width: 114.9%;
    display: none;
  }
  body .modal-container .modal-content #pledge3 #donation-amount3 h3 {
    color: hsl(0deg, 0%, 48%);
    padding: 5px 0px 10px 15px;
    text-align: center;
  }
  body .modal-container .modal-content #pledge3 #donation-amount3 #donation3 {
    height: 25px;
    width: 20%;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
    border-radius: 28px;
    border: solid 1px hsl(0deg, 0%, 48%);
    padding: 11px;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 0px;
    left: 33px;
  }
  body .modal-container .modal-content #pledge3 #donation-amount3 #next3 {
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 28px;
    background-color: hsl(176deg, 72%, 28%);
    color: white;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    top: 0px;
    left: 50px;
  }
  body .modal-container .modal-content #pledge3 #donation-amount3 #next:hover {
    background-color: hsl(176deg, 50%, 47%);
  }
  body .modal-container .modal-content .pledge4 {
    border: 2px solid hsl(0deg, 0%, 83%);
    margin: 30px 5px 10px 0px;
    width: 70%;
    padding: 0px 20px 15px 65px;
    border-radius: 12px;
  }
  body .modal-container .modal-content .pledge4 b {
    font-weight: bold;
    color: black;
    font-size: 24px;
    padding-right: 3px;
  }
  body .modal-container .modal-content .pledge4 h2 {
    font-weight: 600;
  }
  body .modal-container .modal-content .pledge4 h2:hover {
    color: hsl(176deg, 50%, 47%);
    transition: ease-in 0.1s;
  }
  body .modal-container .modal-content .pledge4 .mini-4 {
    position: relative;
    top: 2px;
    left: 0px;
    color: hsl(176deg, 50%, 47%);
  }
  body .modal-container .modal-content .pledge4 .left-4 {
    position: relative;
    top: 2px;
    left: -45px;
    color: hsl(0deg, 0%, 48%);
  }
  body .modal-container .modal-content .pledge4 #radio4 {
    position: relative;
    top: 33px;
    right: 40px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  body .modal-container .modal-content .pledge4 .part4 {
    color: hsl(0deg, 0%, 48%);
    width: 130%;
    margin: 10px 10px 0px -45px;
    font-size: 15px;
  }
  body #thankyou-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: "Commissioner", sans-serif;
    padding: 50px;
    display: none;
  }
  body #thankyou-container .thankyou-content {
    background-color: white;
    margin-left: -30px;
    padding: 20px;
    width: 80%;
    height: 38%;
    font-family: "Commissioner", sans-serif;
    line-height: 30px;
    border-radius: 10px;
    text-align: center;
  }
  body #thankyou-container .thankyou-content .check {
    margin-top: 15px;
    height: 20%;
    width: 20%;
  }
  body #thankyou-container .thankyou-content h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin: 16px;
  }
  body #thankyou-container .thankyou-content p {
    color: hsl(0deg, 0%, 48%);
    font-size: 16px;
  }
  body #thankyou-container .thankyou-content button {
    height: 50px;
    width: 110px;
    font-size: 15px;
    border-radius: 28px;
    margin-top: 10px;
    border: none;
    background-color: hsl(176deg, 72%, 28%);
    color: white;
    font-weight: bold;
    font-family: "Commissioner", sans-serif;
  }
  body #thankyou-container .thankyou-content #ty-btn:hover {
    background-color: hsl(176deg, 50%, 47%);
    transition-duration: 0.2s;
    cursor: pointer;
  }
}/*# sourceMappingURL=styles.css.map */