/* Primary colors*/
$mod-cyan: hsl(176, 50%, 47%);
$dark-cyan: hsl(176, 72%, 28%);
/*Secondary Colors*/
$black: hsl(0, 0%, 0%);
$dark-gray: hsl(0, 0%, 48%);

body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    .navbar{
        height: 400px;
        color: white;
        background: url('./images/image-hero-desktop.jpg');
        background-size: cover;

        ul{
            display: flex;
            padding: 10px;
            justify-content: flex-end;
        }

        li {
            flex-direction: row;
            padding: 10px;

            font-family: "Commissioner", sans-serif;
        }
    }
}

@media screen and (max-width: 375px) {
    nav{
        display: flex;

        ul{
            flex-direction: row;
        }
    }
}